/* importando fonte Josefin Sans: */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}

body{
    background-color:#fffefc ;
}

/* quando scrola a tela fica com uma transição */
html {
  scroll-behavior: smooth;
}
.img-logo{
    width: 150px;
    margin-left: 50px;
}

/* inicio header */
.header{
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  */
    box-shadow: 0px 3px 10px #464646;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    background-color:#fffefc ;
    z-index: 5;

}

.nav-bar{
    display: flex;
    justify-content: space-between;
        padding: 25px;
}

.nav-lista{
    display: flex;
    align-items: center;
}

.nav-lista ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 16px;
}

.nav-link:hover {
    color: #fab9ae;
    transition: 0.3s;
}

.btn{
    display: flex;
    align-items: center;
}

.btn-quero-ajudar{
    background-color: #fab9ae;
    padding: 10px;
    color: #48373b;
    border:1px solid #fab9ae;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 100px;
}

.btn-quero-ajudar:hover{
    background-color: #fffefc;
    color: #725f63;
    border:1px solid #fab9ae;
    transition: background-color 0.6s, color 0.2s; 
}

.img-cachorro{
    width: 400px;
}

/* fim header */
.conteudo-principal{
    display: flex;
    position: relative;
    height: 500px;
}

.coluna1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 900px;
    text-align: center;
    padding: 100px;
}

.coluna2{
    position: relative;
    background-color: #fab9ae;
    height: 550px;
    width: 400px;
    left: 100px;
}


.titulo{
    margin-bottom: 20px;
    font-size: 60px;
    color: #725f63;
}

.titulo-sobre{
    font-size: 50px;
}

p{
    font-size: 20px;
}

.img-caes{
    width: 500px;
    border-radius: 5px;
    margin: 60px;
    
}

.img-caes-container{
    background-color: #fab9ae;
    height: 200px;
    width: 500px;
    margin-left: 50px;
    border-radius: 5px;
}

.container-sobre{
    display: flex;
}

.p-delicado{
    width: 100%;
    text-align: center;
    background-color: #fab9ae;
}


a{
    text-decoration: none;
    color: #48373b;
} 

.info-adocao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
}

/* FORMULÁRIO: */

.formulario-adocao{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-formulario{
    width: 80%;
    height: 80vh;
    display: flex;
    margin-left: 10%;
}

.img-sessao-formulario{
    display: flex;
    justify-content: center;
    align-items: center;

}

.formulario{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #fab9ae; */
    padding: 150px;
}

.titulo-form{
    text-align: center;
    font-size: 40px;
    color: #725f63;
}